* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background-image 0.5s ease-in-out;
}

nav {
    display: flex;
    background-color: white;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 5px 10px -5px #7d807f;
    position: fixed;
    padding: 0 50px;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo img {
    margin-top: 15%;
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0px 20px;

}

.search-container {
    display: flex;
    position: relative;
    background: none;
    border: 1px solid #000000;
    margin: 15px;
    border-radius: 5px;

}

.search-container ::after {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 5px);
    right: 10px;
    top: 0;
    clear: both;
    display: table;
}

.search-container input[text="text"] {
    border: none;
    outline: none;
    padding: 6px;
}

.search-container button {
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 5px;
    border-left: 1px solid #000000;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

.profile a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
}

.profile a:hover {
    color: #0ACF83;
    font-size: 16px;
}

.basket {
    display: flex;
    align-items: center;
    position: relative;
}

.basket span {
    position: absolute;
  top: 4px;
  right: -10px;
  background-color: #0ACF83;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;

}

.basket a:hover {
    color: #0ACF83;
    font-size: 16px;
}

.basket a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
}

nav .login-register {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .login-register a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
}

.login-register a:nth-child(1) {
    border: 2px solid #0ACF83;
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
}

.login-register a:nth-child(2) {
    border: 2px solid #0ACF83;
    background-color: #0ACF83;
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    color: #ffffff;
}

.login-register a:hover {
    color: #0ACF83;
    font-size: 16px;
}

.login-register a:nth-child(2):hover {
    background-color: #ffffff;
    color: #0ACF83;
}

.nav-links a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
}

.nav-links li.home a {
    color: #0ACF83;
}

.nav-links li.home a:hover {
    color: black;
}

.nav-links a:hover {
    color: #0ACF83;
}


@media screen and (max-width: 900px) {
    .nav-links {
        position: fixed;
        background-color: white;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 1;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 20px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 1s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 1.2s;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1.4s;
    }

    .nav-links li:nth-child(8) {
        transition: all 0.5s ease 1.6s;
    }

    .nav-links li:nth-child(9) {
        transition: all 0.5s ease 1.8s;
    }

    .nav-links li:nth-child(10) {
        transition: all 0.5s ease 2s;
    }

    .nav-links li:nth-child(11) {
        transition: all 0.5s ease 2.2s;
    }

    .nav-links li:nth-child(12) {
        transition: all 0.5s ease 2.4s;
    }
}

@media screen and (max-width: 600px) {
    .nav-links {
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }
}

@media screen and (max-width: 400px) {
    .nav-links {
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }
}

/* end of nav bar */

/* start of hero section */
section {
    padding-top: 80px;
    background-image: url(../images/hero_gb_1-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    height: 80vh;
}


.image-container {
    position: relative;
    left: 600px;
    top: -170px;
    width: 900px;
    height: 968.31px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 40px;
    padding-top: 100px;
    padding-left: 40px;
}

p {
    padding-top: 40px;
    padding-left: 40px;

}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding-left: 40px;
}

.shop-now,
.see-how-it-works {
    padding: 10px 20px;
    background-color: #0ACF83;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.shop-now:hover,
.see-how-it-works:hover {
    background-color: #09b575;
}

.image-container {
    position: relative;
    left: 600px;
    top: -170px;
    width: 900px;
    height: 968.31px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* stores section */

.stores-section {
    padding: 100px 0;
    margin-top: 100px;
    text-align: center;
}

.stores-section h2 {
    margin-bottom: 50px;
}

.store-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #ffffff;

}

.store {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #a7d7c5; */
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 100);
}

.store img {
    max-width: 80px;
    margin-bottom: 20px;
}

.store-info {
    text-align: center;
}

.store-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.store-description {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .store-container {
        flex-wrap: wrap;
    }

    .store {
        margin: 10px;
    }
}




/* about section */
/* 
section .about .about-section {
    background-color: white;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    padding: 80px 0;
    text-align: center;
    margin-top: 100px;
} */

.about-section {
    background-color: white;
    /* box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1); */
    padding: 80px 0;
    text-align: center;
    margin-top: 50px;
}

.product-container {
    display: inline-block;
    margin-top: 100px;
    width: 300px;
    height: 400px;
    justify-content: center;
    margin-left: 20px;
    background-color: #fff;
    /* background-color: #a7d7c5; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 100);

}

#cart-message {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }

.product-image img {
    margin-top: 20px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.product-details {
    padding: 20px;
}

.product-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;

}

.add-to-cart {
    /* background-color: #0ACF83;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; */
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #0ACF83;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: none;
    text-align: center;

}

.add-to-cart:hover {
    background-color: #09b575;
}

.add-to-cart i {
    margin-right: 5px;
}

@media  screen and (max-width: 768px) {
    /* Add a box shadow to the product-container */
.product-container {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the cart message */
  #cart-message {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Update the basket icon with cart count */
  .basket {
    position: relative;
  }
  
  .basket span {
    position: absolute;
    top: 4px;
    right: -10px;
    background-color: #0ACF83;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    /* Adjust the layout for smaller screens */
    .about-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .product-container {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }
  
    
}

@media screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
    }
    .about-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .product-container {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

  
  section .h2 {
    font-size: 40px;
    padding-top: 100px;
    padding-left: 40px;
    justify-content: left;
  }
  


  .more-products {
    margin-top: 100px;
    text-align: left;
    margin-left: 40px;
  }

  .more-products p {
    text-align: left;
    margin-left: 40px;

  }


  .more-button {
    position: relative;
    padding: 5px 20px;
    background-color: #0ACF83;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  
  .footer-container {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#a7d7c552;
    padding-top: 300px;
  }
  
  .footer-section {
    /* background-color:#a7d7c552; */
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin-bottom: 5px;
  }
  
  .social-media-icons {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media-icons a {
    color: #333;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .social-media-icons a:hover {
    color: #828b8798;
  }
  