footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--quaternary-color);
    padding-top: var(--padding-big);
    padding-bottom: var(--padding-big);
}

#footer__container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 45px;
    flex: 1 0 auto;
}


#footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#footer__nav__logo {
    display: flex;
    flex-direction: column;
}

#footer__logo {
    display: flex;
    width: 170px;
    height: 42.285px;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../images/footer_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#footer__nav__logo p {
    color: var(--primary-color);
    font-size: var(--font-size-small);
}

#bottom__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom__navbar__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--margin-medium);
}

.bottom__navbar__link {
    width: 100%;
    height: 100%;
    color: var(--tertiary-color);
}


.bottom__navbar__link:hover {
    color: var(--primary-color);
}

#footer__container hr {
    height: 1px;
    width: 100%;
    background-color: var(--tertiary-color);
}

#footer__container p:last-child {
    width: 100%;
    text-align: right;
    color: var(--tertiary-color);
}
