#payment__section {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

#payment__section__container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
}

#payment__section__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 510px;
    gap: var(--margin-small);
}

#payment__section__title {
    font-size: var(--font-size-big);
    color: var(--quaternary-color);
}

#payment__section__paragraph {
    font-size: var(--font-size-medium);
    color: var(--quaternary-color);
}


#payment__section__button {
    padding: 10px var(--padding-medium);
    border-radius: 4px;
    font-size: var(--font-size-medium);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: var(--font-weight-medium);
    box-shadow: 0px 0px 8px 4px rgba(10, 207, 131, 0.30);
}

#payment__section__right {
    width: 375px;
    height: 425px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/payment_phones.jpg');
    background-size: cover;
}
