/* import google font poppin */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;   
}

/* relailbe css */
.relaible-section {
    display: flex;
    width: 100%;
    background: #ffffff;
    height: 565px;
}

/* text */

.relaible-text {
    display: flex;
    flex-direction: column;
    width: 589px;
    height: 400px;
    padding-top: 163px;
    padding-left: 140px;
}

.relaible-text1 {
    color: #254337;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
    padding-bottom: 16px;
}

.relaible-text2 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.learn-more {
    width: 156px;
    height: 55px;
    border-radius: 4px;
    background-color: #0ACF83;
    box-shadow: 0px 0px 40px 0px rgba(10, 207, 131, 0.30);
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
}

/* image */
.relaible-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 140px;
}

.relaible-section>.relaible-text,
.relaible-section>.relaible-img {
    flex: 1;
}   