@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.03);
}

nav a .logo {
    width: 123px;
    height: 30px;
    cursor: pointer;
}

.logo {
    background-image: url('../images/swifcart_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#signup-container {
    display:flex;
    flex-direction: row;
    max-width: 400px;
    margin: auto 1.025rem;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2.75rem;
    box-shadow: -1px -1px 8px 5px rgba(0, 0, 0, 0.03),
                1px 1px 8px 5px rgba(0, 0, 0, 0.03);
}

#signup-lb{
    position: relative;
    background-image: url('../images/bg_auth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    display: none;
}

#signup-lb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#signup-lb p {
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
}

#signup-rb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
}

#signup-rb h2,
#signup-rb h5,
#signup-rb p:last-child {
    text-align: left;
}

#signup-form {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

#signup-form input {
    width: 100%;
    height: 36px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid black;
    font-size: 12px;
}

#signup-form input[type="button"] {
    background-color: #0ACF83;
    border: none;
    color: white;
    cursor: pointer;
}

#alternatives-signup {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
}

#alternatives-signup .alt-signup-item {
    cursor: pointer;
    scale: 1.1;
}

#signup-container #separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

hr {
    background-color: black;
    height: 1px;
    width: 100%;
}

#login_redirect a {
    color:#0ACF83;
    cursor: pointer;
}


@media screen and (min-width: 850px) {
    #signup-lb {
        display: flex;
    }

    #signup-container {
        max-width: 800px;
    }

    #signup-rb h5 {
        display: none;
    }
}
